@charset "UTF-8";
/* Tamaños media queries */
/* Mixin para responsive */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");
/* Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

h1, h2, h3 {
  font-weight: bold;
  font-family: "Kumar One", cursive; }

a {
  text-decoration: none; }

li {
  list-style: none; }

main {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f9f9f9' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f3f3f3' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ededed' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23e7e7e7' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23E1E1E1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23b4b4b4' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23878787' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%235a5a5a' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%232d2d2d' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23000000' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

header {
  background-color: #13363e;
  color: #ffffff;
  padding: 2rem 5rem; }
  header .headerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 27rem; }
    @media (max-width: 768px) {
      header .headerNav {
        flex-direction: column;
        gap: 2rem; } }
    @media (max-width: 768px) {
      header .headerNav .logoProductos {
        margin-right: 12rem; } }
    header .headerNav img {
      width: 30rem;
      height: 12rem; }
    header .headerNav ul {
      display: flex;
      align-items: center;
      gap: 3rem; }
      @media (min-width: 768px) {
        header .headerNav ul .margin-carrito {
          margin-right: 2rem; } }
    header .headerNav li a {
      color: #ffffff;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: "Permanent Marker", cursive; }
      header .headerNav li a:hover {
        color: #8b3330; }

.iconCarrito {
  background-color: #13363e;
  border-radius: 50%;
  border: 3px solid #8b3330;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: fixed;
  margin-right: 2rem;
  right: 0; }
  @media (max-width: 768px) {
    .iconCarrito {
      margin-top: 5rem;
      margin-right: .5rem;
      position: fixed;
      top: 0; } }
  .iconCarrito span {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold; }
  .iconCarrito i {
    width: 5rem; }

.inicio-main {
  padding-bottom: 5rem; }
  .inicio-main .inicio {
    width: 100%;
    height: 40rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.3) url("../img/fondo.png");
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken; }
    .inicio-main .inicio .titulos {
      color: #ffffff;
      font-size: 2.5rem;
      padding-top: 7rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem; }
      @media (max-width: 768px) {
        .inicio-main .inicio .titulos {
          font-size: 2rem;
          padding: 5rem 2rem 0 2rem; } }
  .inicio-main .cards {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    margin: 5rem 0;
    padding-bottom: 5rem;
    border-bottom: 2px solid #000000; }
    @media (max-width: 1200px) {
      .inicio-main .cards {
        flex-wrap: wrap; } }
    .inicio-main .cards .card {
      background-color: #13363e;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      padding: 7rem 3rem;
      border-radius: 2rem;
      width: 35rem;
      -webkit-box-shadow: 5px 5px 15px 5px #000000;
      box-shadow: 5px 5px 15px 5px #000000; }
      .inicio-main .cards .card p {
        font-size: 2.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: #ffffff; }
      .inicio-main .cards .card .card-titulo {
        font-weight: bold; }
  .inicio-main .destacados {
    margin-top: 5rem; }
    .inicio-main .destacados h2 {
      text-align: center;
      font-size: 3rem; }
    .inicio-main .destacados .productos-destacados {
      margin-top: 2rem; }
      @media (max-width: 768px) {
        .inicio-main .destacados .productos-destacados {
          grid-template-columns: 1fr; } }
      .inicio-main .destacados .productos-destacados .producto-destacado {
        background-color: #8b3330;
        padding: 2rem 5rem;
        margin: 0 15rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        color: #ffffff;
        -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); }
        @media (max-width: 1200px) {
          .inicio-main .destacados .productos-destacados .producto-destacado {
            padding: 2rem;
            margin: 2rem; } }
        @media (max-width: 768px) {
          .inicio-main .destacados .productos-destacados .producto-destacado {
            margin: 0 3rem; } }
        .inicio-main .destacados .productos-destacados .producto-destacado a {
          background-color: #13363e;
          color: #ffffff;
          padding: 1rem 3rem;
          border-radius: 2rem;
          width: 30rem;
          font-size: 2rem;
          font-weight: bold;
          text-align: center; }
          .inicio-main .destacados .productos-destacados .producto-destacado a:hover {
            color: #8b3330;
            background-color: #000000; }
        .inicio-main .destacados .productos-destacados .producto-destacado p {
          font-size: 3rem;
          font-weight: bold; }
        .inicio-main .destacados .productos-destacados .producto-destacado img {
          width: 30rem;
          height: 20rem;
          transition: all .5s ease; }
          .inicio-main .destacados .productos-destacados .producto-destacado img:hover {
            transform: scale(1.2); }

footer {
  background-color: #13363e; }
  footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem; }
    @media (max-width: 768px) {
      footer .footer {
        flex-direction: column;
        gap: 2rem; } }
    footer .footer img {
      width: 30rem;
      height: 12rem; }
    footer .footer svg {
      width: 6rem;
      height: 6rem;
      margin: 0 2rem;
      transition: all 500ms ease; }
      footer .footer svg:hover {
        transform: scale(1.2); }
  footer p {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    padding-top: 1rem; }
    footer p a {
      color: #8b3330; }

.contacto-inicio {
  background: rgba(0, 0, 0, 0.3) url("../img/fondo.png");
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  width: 100%;
  height: 40rem;
  padding-top: 7rem;
  text-align: center;
  color: #ffffff; }
  @media (max-width: 768px) {
    .contacto-inicio {
      padding: 3rem 2rem 0 2rem; } }
  .contacto-inicio .contacto-titulos {
    color: #ffffff;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
    @media (max-width: 768px) {
      .contacto-inicio .contacto-titulos {
        font-size: 2rem;
        padding: 0 2rem; } }

.consultas {
  margin-top: 5rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: outset 2px #8b3330;
  border-radius: 3rem;
  margin: 5rem 20rem;
  padding: 3rem; }
  @media (max-width: 768px) {
    .consultas {
      margin: 5rem; } }
  .consultas h4 {
    font-size: 2.5rem;
    font-weight: bold; }
  .consultas p {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
    color: #8b3330; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .formulario .campo {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem 0; }
    .formulario .campo label {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: .8rem;
      font-family: "Kumar One", cursive; }
    .formulario .campo input {
      padding: 1rem 2rem;
      font-size: 2rem; }
    .formulario .campo #mensaje {
      font-size: 2rem; }
  .formulario .btnEnviar {
    margin: 2rem auto;
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    border-radius: 5px;
    border: 3px solid #8b3330;
    cursor: pointer; }

.enviado {
  padding: 2rem 5rem;
  background-color: #47ad47;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .enviado {
      width: 90%; } }

.error {
  padding: 2rem 5rem;
  background-color: #dd1010;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .error {
      width: 90%; } }

.inicio-productos {
  background: rgba(0, 0, 0, 0.3) url("../img/fondo.png");
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  width: 100%;
  height: 40rem;
  padding-top: 5rem;
  text-align: center; }
  .inicio-productos h1 {
    color: #ffffff;
    margin-top: 10rem;
    font-size: 5rem; }

.lista-productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 5rem;
  padding: 5rem 0; }
  @media (max-width: 768px) {
    .lista-productos {
      grid-template-columns: 1fr; } }
  .lista-productos .item {
    background-color: #8b3330;
    padding: 2rem 5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    color: #ffffff;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); }
    @media (max-width: 1200px) {
      .lista-productos .item {
        padding: 2rem; } }
    .lista-productos .item img {
      width: 30rem;
      height: 20rem;
      transition: all .5s ease; }
      .lista-productos .item img:hover {
        transform: scale(1.2); }
    .lista-productos .item button {
      background-color: #13363e;
      color: #ffffff;
      padding: 1rem 3rem;
      border-radius: 2rem;
      width: 30rem;
      font-size: 1.8rem;
      cursor: pointer;
      font-weight: bold; }
      .lista-productos .item button:hover {
        background-color: #000000;
        color: #8b3330; }
    .lista-productos .item p {
      font-size: 3rem;
      font-weight: bold; }

.prueba-alerta {
  background-color: #4ba34b;
  color: #ffffff;
  padding: 1rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  border-radius: 1rem;
  font-family: "Kumar One", cursive;
  margin: 10rem 0 0 5rem;
  top: 0;
  left: 0; }
  @media (max-width: 768px) {
    .prueba-alerta {
      padding: 1rem;
      margin: 0;
      width: 100%;
      border-radius: 0; } }

.contenedorModal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 768px) {
    .contenedorModal {
      overflow: scroll; } }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-arriba {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .modal-arriba button {
    background-color: #13363e;
    border-radius: 50%;
    border: 2px solid #8b3330;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    padding: .7rem; }

.carritoModal {
  position: relative;
  background-color: white;
  padding: 20px;
  transition: all .5s;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 16px 22px 25px 14px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 16px 22px 25px 14px rgba(0, 0, 0, 0.45); }
  @media (max-width: 768px) {
    .carritoModal {
      margin-right: auto;
      height: auto;
      max-width: 90%; } }

.modal-active .carritoModal {
  margin-top: 0; }

.carritoModal h3 {
  color: #13363e;
  font-family: "Kumar One", cursive;
  font-weight: bold;
  padding-bottom: 5px; }

.productoCarrito {
  border-left: 4px solid #8b3330;
  margin: .5rem 0;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem; }
  .productoCarrito p {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem; }

.btnEliminar {
  color: #8b3330;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold; }

.precioProducto {
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #8b3330; }

.modal-botones {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0; }
  .modal-botones button {
    background-color: #13363e;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid #8b3330;
    border-radius: 2rem; }

.btn {
  padding: 1rem 2rem;
  margin: 0 2rem;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer; }

.btn-success {
  background-color: #28a745; }

.btn-danger {
  background-color: #dc3545; }
