header {
    background-color: $principalAzul;
    color: $blanco;
    padding: 2rem 5rem;

    .headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
        }

        img {
            width: 30rem;
            height: 12rem;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        li a {
            color: $blanco;
            font-size: 2.5rem;
            font-weight: bold;
            font-family: $fuenteEnlaces;

            &:hover {
                color: $principalRojo;
            }
        }
    }
}

.iconCarrito { 
    padding: .5rem;
    background-color: $principalRojo;
    border-radius: 50%;
    margin: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
}