.inicio-productos {
    background: rgba(0, 0, 0, 0.3) url('../img/fondo.png');
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    width: 100%;
    height: 40rem;
    padding-top: 5rem;
    text-align: center;

    h1 {
        color: $blanco;
        margin-top: 10rem;
        font-size: 5rem;
    }
}


.lista-productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 5rem;
    padding: 5rem 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .item {
        background-color: $principalRojo;  
        padding: 2rem 5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        color: $blanco;
        -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
        @media (max-width: 1200px) {
            padding: 2rem;
        }
    
        img {
            width: 30rem;
            height: 20rem;
            transition: all .5s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    
        button {
            background-color: $principalAzul;
            color: $blanco;
            padding: 1rem 3rem;
            border-radius: 2rem;
            width: 30rem;
            font-size: 1.8rem;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                background-color: $negro;
                color: $principalRojo;
            }
        }
    
        p {
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

.prueba-alerta {
    background-color: #4ba34b;
    color: $blanco;
    padding: 1rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border-radius: 1rem;
    font-family: $fuenteTitulos;
    margin: 10rem 0 0 5rem;
    top: 0;
    left: 0;

    @media (max-width: 768px) {
        padding: 1rem;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}