
// Colores 
$principalAzul: #13363e;
$principalRojo: #8b3330;
$blanco: #ffffff;
$negro: #000000;

// Fuentes
$fuenteEnlaces: 'Permanent Marker', cursive;
$fuenteTitulos: 'Kumar One', cursive;

/* Tamaños media queries */
$pc: 1200px;
$tablet: 768px;

/* Mixin para responsive */

@mixin responsive ($medida) {
    @if $medida == pc {
        @media (max-width: $pc) {
            @content;
        }
    } @else if $medida == tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }
}
